{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}
<img src="{{ featured_image | img_url: 'large' }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg">
{% for image in product.images %}
  <a href="{{ image.src | img_url: 'large' }}">
    <img src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}">
  </a>
{% endfor %}
<h1>{{ product.title }}</h1>

<form action="/cart/add" name="my_form" method="post" enctype="multipart/form-data">
  <select name="id" id="productSelect">
    {% for variant in product.variants %}
      {% if variant.available %}
        <option value="{{ variant.id }}">
          {{ variant.title }} - {{ variant.price | money_with_currency }}
        </option>
      {% else %}
        <option disabled="disabled">
          {{ variant.title }} - sold out
        </option>
      {% endif %}
    {% endfor %}
  </select>
  {{ current_variant.price | money }}
  <label for="Quantity">quantity</label>
  <input type="number" id="Quantity" name="properties[cart_index]" value="0" min="0">


  <!-- Task a -->
  {% if current_variant.available %}
    <button type="submit" name="add" id="addToCart" class="mybutton mybutton__addtocart" onclick="cartIndex(); return false;">Add to cart</button>
  {%else%}
    <button class="mybutton mybutton__outofstock" disabled>Out of Stock</button>
  {%endif%}
  <!-- ///  -->


</form>
<div>{{ product.description }}</div>


{% comment %} Task c {% endcomment %}
<div class="mymodal" id="mymodal">
  <div class="mymodal__wrapper">
    <p class="mymodal__text">Just to let you know...</p>
    <h2 class="mymodal__title">{{ product.title }}</h2>
    <div class="mymodal__stock">
      {% assign currentStock = 0 %}
      {% for type in product.variants %}
        {% assign currentStock = currentStock | plus: type.inventory_quantity %}
      {% endfor %}
      {% if currentStock > 0 %}
        <table>
          <thead>
            <th>Type</th>
            <th>Stock</th>
          </thead>
          <tbody>
            {% for type in product.variants %}
              <tr>
                <td>{{ type.title }}</td>
                <td>{{ type.inventory_quantity }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table> 
      {% else %}
        <p class="bold">{{product.title}} is sold out</p>
      {% endif %}
    </div>
    <div class="mymodal__cart">
      {% if cart.item_count > 0 %}
        <h4>Your cart information</h4>
        <table>
          <thead>
            <tr>
              <th>Item</th>
              <th>Quantity</th>
              <th>Price</th>
              <th>Cart Index</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            {% for item in cart.items %}
              <tr>
                <td>{{ item.product.title }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.price | money }}</td>
                <td>
                  {% for property in item.properties %}
                    {{ property.last }}
                  {% endfor %}
                </td>
                <td>{{ item.price | times: item.quantity | money }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
    </div>
    <div class="mymodal__total">
      <p class="bold">Total items in cart: <span class="red">{{cart.item_count}}</span></p>
      <p class="bold">Total price: <span class="red">{{ cart.total_price | money }}</span></p>
    </div>
    <div class="mymodal__button">
      <button type="button" id="mybutton" onclick="buttonClick()">Close</button>
    </div>
  </div>
</div>
<div class="mybackground" id="mybackground" onclick="buttonClick()"></div>
{% comment %} /// {% endcomment %}


{% comment %} Task c {% endcomment %}
<script>

  var myBackground = document.getElementById('mybackground');
  var myButton = document.getElementById('mybutton');
  var mymodal = document.getElementById('mymodal');

  window.onload = function(){
    mymodal.classList.add('is-show');
    myBackground.classList.add('is-show');
  }

  function buttonClick(){
    mymodal.classList.remove('is-show');
    myBackground.classList.remove('is-show');
  }

</script>
{% comment %} Task /// {% endcomment %}


{% comment %} Task a {% endcomment %}
<script>

  function cartIndex() {
    jQuery.post('/cart/add.js', {
      items: [
        {
          quantity: parseInt($("#Quantity").val()),
          id: {{ product.selected_or_first_available_variant.id }},
          properties: {
            'cart_index': {{ cart.item_count }}
          }
        }
      ]
    })
  }

  //button
  $("#Quantity").change(function(){
    {% assign num = 0 %}
      {% for quantity in cart.items %}
        {% if quantity.product.id == product.id%}
          {% assign num = num | plus: quantity.quantity %}
        {% endif  %}
      {% endfor %}
      var newQuantity = {{num}};
      var currentInventory = {{ current_variant.inventory_quantity }};
      var myQuantity = parseInt($("#Quantity").val());
      var addToCart = $("#addToCart");
      if(currentInventory < newQuantity + myQuantity){
        addToCart.addClass("is-gray");
        addToCart.text("Out of Stock");
      } else {
        addToCart.removeClass("is-gray");
        addToCart.text("Add to cart");
      }
  });
  </script>